@import "tailwindcss";

@theme {
    --color-primary: #6d28d9;
    --color-primary-dark: #5b21b6;
    --color-sidebar: #2e1065;
    --color-gold: #facc15;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

[x-cloak] {
    display: none !important;
}
